
.App {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  color: #bbb;
}
.Left, .Right {
  width: 50%;
}
.Right {
  min-width: 630px;
}
.Left > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.Right .Plot {
  margin-top: 20px;
}
.CodeMirror {
  flex: 1;
}
.Error {
  margin-top: 20px;
  color: rgb(247, 78, 27);
  font-weight: bold;
}

.Header {
  font-size: 12px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
}
a {
  color: #eaea70;
}